<div class="bg-primary-light w-full min-h-screen">
    <div class="md:h-screen bg-cover bg-top text-primary-dark relative"
     style="background-image: url('<%= asset_path("event-hero.jpg") %>')">

        <%= render "shared/navbar" %>

        <h1 class="font-semibold md:text-accent font-eddie md:mt-50 ml-40">
            Event Schedule
        </h1>

        <%= image_tag "schedule.png",
                class: "absolute top-3/5 left-1/2 -translate-x-1/2 -translate-y-1/2 hidden md:block" %>
        
        <%= image_tag "event-mobile.png", class:"md:hidden py-4" %>
    </div>

    <div class="flex flex-col md:flex-row justify-between items-start md:items-center py-12 md:pl-24 pr-0 md:rgap-32">
        <div class="flex pl-8 md:pl-0">
            <div class="w-4/6 md:w-auto">
                <h1 class="font-semibold text-primary-dark font-eddie mb-8">Dress Codes</h1>
                <p class="text-accent mb-4">Weather permitting all events will take place outside so light layers and appropriate shoes (such as block heels) are suggested.</p>
                <p class="text-accent">For colour schemes feel free to take inspiration from the colours of the natural landscape like soft greens, terracotta or clay tones, and warm neutrals if you wish!</p>
            </div>
            <%= image_tag "olive.png", class: "md:hidden w-2/6" %>
        </div>
        <%= image_tag "dress-code.png", class: "w-4/6 hidden md:block" %>
        <%= image_tag "dress-code-mobile.png", class: "md:hidden w-full" %>
    </div>
</div>
<%= render "shared/footer" %>